server_http:
  tls_cert_file:
  tls_key_file:
  testers: ["127.0.0.1"]

sqlite:
  path:

pg:
  user:
  pass:
  path:

mongo:
  user:
  pass:
  path:

smtp:
  host: "smtp.mailtrap.io"
  port: 2525
  user:
  pass:

pop3:
  host: "pop.zoho.com:995"
  user:
  pass:


