[Unit]
Description=gatherer service
After=network.target

[Service]
User=pavlo
LimitNOFILE=1048576
WorkingDirectory=/home/pavlo/0/go/src/github.com/pavlo67/workshop
ExecStart=/home/pavlo/0/go/src/github.com/pavlo67/workshop/bin/gatherer
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
KillMode=control-group

[Install]
WantedBy=multi-user.target
